<div class="row mb-3">
  <div class="card col-8" style="border-color: #808b96">
    <div class="card-body">
        <h4 class="card-title"><a>Id de cuenta : {{movementsAccounts.account.id }}</a></h4>
        <div class="md-form input-group mb-6">
            <div class="col-3">
                    <!-- First name -->
                    <div class="input-group-prepend">
                            <span class="input-group-text md-addon">Moneda</span>
                    </div>    
                    <input type="text" class="form-control" [(ngModel)]="movementsAccounts.account.currency" disabled='true'>    
                    
            </div>
            <div class="col-5">
              <!-- First name -->
              <div class="input-group-prepend">
                      <span class="input-group-text md-addon">Balance</span>
              </div>    
              <input type="number" step="0.01" class="form-control" [(ngModel)]="movementsAccounts.account.balance" disabled='true'>    
              
      </div>
                   
        </div> 
        <div class="col-12">
            <button type="button" mdbBtn (click)="basicModal.show()" class="btn btn-outline-primary waves-effect float-right">Nuevo movimiento</button>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card col mb-3" style="border-color: #808b96">
    <div class="card-body">
      <div class="table-responsive col " id="todosclientes">
        <table class="table table-hover" style="border-spacing:0;" id="">  
          <tr class="" style="">
              <th> ID </th>
              <th> Tipo Movimiento </th>
              <th> Id de Cuenta    </th>
              <th> Monto movimiento  </th>
          </tr>
          <tr *ngFor="let movement of movementsAccounts.movement">
              <td> {{ movement.id }} </td>
              <td> {{ movement.movementType }} </td>
              <td> {{ movement.account_id }}    </td>
              <td> {{ movement.amount }}  </td>
          </tr>
        </table> 
    </div>
  </div> 
</div>
</div>


<!-- Modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Nuevo Movimiento</h4>
      </div>
      <div class="modal-body">
        <div class="md-form input-group">
            <div class="col">
                <div class="input-group-prepend">
                        <span class="input-group-text md-addon">Tipo Movimiento </span>
                </div>
                <input type="text"  class="form-control" >        
            </div>
            <div class="col">
                    <div class="input-group-prepend">
                            <span class="input-group-text md-addon">Monto movimiento </span>
                    </div>
                    <input type="number"   class="form-control">        
            </div>                    
         </div>
         <div class="md-form input-group">
          <div class="col">
              <div class="input-group-prepend">
                  <span class="input-group-text md-addon">Descripcion </span>
              </div>
            <textarea id="textarea-char-counter"  class="form-control md-textarea mr-2" length="90" rows="3"  ></textarea>
          </div>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveMovement()" mdbWavesEffect>Guardar Movimiento</button>
      </div>
    </div>
  </div>
</div>
